{{tz}}
<div *ngIf="loading">Loading Meraki Data...</div>


<h2>New Network Set-Up</h2>
<div class="col-sm-6">
  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="orgId" class="col-sm-4 control-label">Organization</label>
      <div class="col-sm-6">
        <select formControlName="orgId">
          <option *ngFor="let org of orgs" [value]="org.id">{{org.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
        <label for="template" class="col-sm-4 control-label">Template</label>
        <div class="col-sm-6">
          <!--select formControlName="template">
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
          </select-->
          <select formControlName="templateId">
              <option *ngFor="let template of templates" [value]="template.id" >{{template.name}}</option>
            </select>
        </div>
      </div> 

    <div class="form-group">
      <label for="networkName" class="col-sm-4 control-label">Network Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="name"/>
      </div>
    </div>
    <div class="form-group">
      <label for="networkTag" class="col-sm-4 control-label">Network Tag:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="tags"/>
      </div>
    </div>
    <div class="form-group">
      <label for="siteAddress" class="col-sm-4 control-label">Site Address:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="address"/>
      </div>
    </div>
    <!--div class="form-group">
      <label for="orderNumber" class="col-sm-4 control-label">Order Number:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="orderNumber"/>
      </div>
    </div--> 

    <div class="form-group">
      <label for="timeZone" class="col-sm-4 control-label">Time Zone</label>
      <div class="col-sm-4">
        <select formControlName="timeZone" >
          <option value="America/Chicago">America/Chicago</option>
          <option value="America/Los_Angeles">America/Los Angeles</option>
          <option value="America/New_York">America/New York</option>
          <option value="Europe/Amsterdam">Europe/Amsterdam</option>
        </select>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<div class="col-sm-6">
    <div *ngIf="newNet">
      <div *ngIf="newNet.id;else fail">
        <p class="alert-success">Network created</p>  
        <p *ngIf="newNet.configTemplateId" class="alert-success">Template bound</p>

        <table class="table-sm">
            <caption>Network Summary</caption>
            <tbody>
              <tr>
                <td>Name</td>
                <td>{{newNet.name}}</td>
              </tr>
              <tr>
                <td>ID</td>
                <td>{{newNet.id}}</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>{{newNet.type}}</td>
              </tr>
              <tr>
                <td>Time Zone</td>
                <td>{{newNet.timeZone}}</td>
              </tr>
              <tr>
                <td>Tags</td>
                <td>{{newNet.tags}}</td>
              </tr>
              <tr>
                <td>Template ID</td>
                <td>{{newNet.configTemplateId}}</td>
              </tr>
            </tbody>
          </table>
          <button [disabled]="loading" class="btn btn-success pull-right" (click)="onAddDevices()" >Add Devices to Network</button>
      </div>
      <ng-template #fail>
        <p class="alert-danger">We have a problem..</p>
        {{newNet.errors}}
      </ng-template>
    </div>
</div>



